<a href="https://colab.research.google.com/github/Abayrakdar/Testing/blob/main/Copy_of_Getting_Started_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = "Hello World!"
print(x)

Hello World!

In [ ]:
x,y =24,12
if x == y:
  print("The first number is not equal to the second")
elif x>y:
  print("The first number is greater than the second one")
else:
  print("The first number is smaller than the second one")

The first number is greater than the second one

In [ ]:
a,b,c = -5,0,10
if c==0:
  print("number = 0")
elif c>0:
  print("number is positive")
else:
  print("number is negative")

number is positive

In [ ]:
for i in range(0,6):
  print("The iteration is {}".format(i))
print("The end...")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The end...

In [ ]:
a=0
while a<6:
  print(a)
  a+=1
print("The end..")

0
1
2
3
4
5
The end..

In [ ]:
targetvalue =4
iterate =0
while iterate <targetvalue:
  print("The iteration no. is {}, which is less than the target value {}".format(iterate, targetvalue))
  iterate=iterate+1
print("The end!")

The iteration no. is 0, which is less than the target value 4
The iteration no. is 1, which is less than the target value 4
The iteration no. is 2, which is less than the target value 4
The iteration no. is 3, which is less than the target value 4
The end!

In [ ]:
#Example on Nested Loop
for i in range(1,6): #This is the Outer Loop
 for j in range(1,11): #This is the Inner Loop
  print(i*j, end=" ") #This end=" " is added to have the output horizontally, if removed it will print vertically.
print("The end...")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 The end...

In [ ]:
#Another Example on Nested Loop
colours = ["blue", "red", "yellow"]
cars = ["BMW", "Mercedes", "Range"]
for colour in colours: #Outer Loop
 for car in cars: #Inner Loop
   print(colour, car)
print("The end....")

blue BMW
blue Mercedes
blue Range
red BMW
red Mercedes
red Range
yellow BMW
yellow Mercedes
yellow Range
The end....

In [ ]:
#Example on "break" command which breaks the operation at a certain point
targetv=5
iterate=0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetv))
  if iterate==3:
    print("Condition of iterate value reached 3")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value 5
Iteration number is 1, which is less than the target value 5
Iteration number is 2, which is less than the target value 5
Iteration number is 3, which is less than the target value 5
Condition of iterate value reached 3

In [ ]:
#Here we use the command "continue" to break or skip a certain point but to continue
targetv=5
iterate=0
while iterate<targetv:
  iterate=iterate+1
  if iterate==2:
    continue
  print("Iteration no is {}, which is less than the target value {}".format(iterate,targetv))
print("The Iteration number 2 has been skipped")

Iteration no is 1, which is less than the target value 5
Iteration no is 3, which is less than the target value 5
Iteration no is 4, which is less than the target value 5
Iteration no is 5, which is less than the target value 5
The Iteration number 2 has been skipped

In [ ]:
#Another example here for use of the command "continue" to break or skip a certain point but to continue
names =["Mercy", "Anis", "Chris", "Israel"]
for name in names:
  if name == "Chris":
    continue
  print(name)

Mercy
Anis
Israel

In [1]:
#Change a value in a List
mylist =["Michael", "Sean", "Adam"]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam']

In [2]:
mylist[0:2]

['John', 'Sean']

In [3]:
print(len(mylist[0]))

4

In [4]:
print(len(mylist))

3

In [5]:
print(type(mylist))

<class 'list'>

In [7]:
mylist =["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes the element is in there")

Yes the element is in there

In [8]:
mylist =["Michael", "Sean", "Adam"]
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam']

In [12]:
mylist.append("Adam")  #Since it is a List it allows duplicate elements in it.
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam', 'Adam', 'Adam']

In [14]:
mylist1 =["Michael", "Sean", "Adam"]
mylist2 = ["Zara", "Alex"]
mylist1.extend(mylist2)
print(mylist1)

['Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [15]:
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Alex', 'Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [17]:
mylist2.remove("Zara")
print(mylist2)

['Alex', 'Michael', 'Sean', 'Adam', 'Alex']

In [18]:
#The "pop" command removes based on index but when not given an index it removes the last element.
mylist2.pop()
print(mylist2)

['Alex', 'Michael', 'Sean', 'Adam']

In [19]:
mylist2.pop(0)
print(mylist2)

['Michael', 'Sean', 'Adam']

In [25]:
#Example to remove all Zara
mylist5 =["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist5.sort()
mylist5.pop(5)
mylist5
mylist5.pop(4)
mylist5

['Adam', 'Alex', 'Michael', 'Sean']

In [29]:
#Example to remove all Zara
mylist5 =["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
for name in mylist5:
  if name =="Zara":
   mylist5.remove("Zara")
print(mylist5)

['Alex', 'Michael', 'Sean', 'Adam']

In [30]:
mylist6=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist6.reverse()
print(mylist6)

['Adam', 'Sean', 'Michael', 'Zara', 'Alex', 'Zara']

In [32]:
mylist7=["banana","apple","orange"]
mylist8=["Noun", "Adjective", "Adverbs"]
mylist9=mylist7+mylist8
print(mylist9)

['banana', 'apple', 'orange', 'Noun', 'Adjective', 'Adverbs']

In [59]:
companies=["tiktok", "whatsapp", "facebook"]
searchedfor="google"
if searchedfor in companies:
  print(companies, "Yes, the company you searched for {} is in there".format(searchedfor))
else:
 print("No, it is not found but the programme you wrote is adding {} to those".format(searchedfor), companies)
companies.append("google")
print("Here, it has been added", companies)

No, it is not found but the programme you wrote is adding google to those ['tiktok', 'whatsapp', 'facebook']
Here, it has been added ['tiktok', 'whatsapp', 'facebook', 'google']

In [66]:
mylist10=["Meta", "Google", "Tesla", "Snap"]
element=input("Please input tech. company name (Capitalised)")
if element in mylist10:
  print("Tech. company \"{}\" you've just input already exists".format(element))
else:
  mylist10.append(element)
  print(mylist10)

Please input tech. company name (Capitalised)Loulou
['Meta', 'Google', 'Tesla', 'Snap', 'Loulou']

In [69]:
#This is to print them in a column vertically
companies=["Meta", "Google", "Tesla", "Snap"]
for element in companies:
  print(element)

Meta
Google
Tesla
Snap

In [77]:
#This is to print them in a column vertically with using function "len" in "list" it outputs the position index of each element
companies=["Meta", "Google", "Tesla", "Snap"]
for element in range(len(companies)):
 print(element, companies(element))

TypeError: ignored

In [78]:
a=[1,2,3,4,5,6]
b=[x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36]

In [82]:
a=[1,2,3,4,5,6]
c=[]
for x in a:
  c.append(x**2)
print(c)

[1, 4, 9, 16, 25, 36]

In [83]:
#The function "letter.upper" converts the letter to upper case
word=[letter.upper() for letter in "python"]
print(word)

['P', 'Y', 'T', 'H', 'O', 'N']

In [86]:
#Dictionaries in Python, this example shows how to add an item to a dictionary
mydict={"employee":"Zara", "salary":5000}
mydict["department"]="Sales"
print(mydict)
print(len(mydict))

{'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
3

In [87]:
#Searching for a Key or for its value in a dictionary
mydict1={'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
if "department" in mydict1:
  print("The key exists")

The key exists

In [89]:
mydict1={'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
mydict1.update({"status":"permanent", "level":3})
print(mydict1)

{'employee': 'Zara', 'salary': 5000, 'department': 'Sales', 'status': 'permanent', 'level': 3}

In [90]:
mydict1={'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
mydict1.update({"salary":6000, "level":3})
print(mydict1)

{'employee': 'Zara', 'salary': 6000, 'department': 'Sales', 'level': 3}

In [93]:
#To remove an elenement from a dictionary it is enough just to mention the Key without its value by using pop but with popo you do not need the curly brackets.
mydict1={'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
mydict1.pop("salary")
print(mydict1)

{'employee': 'Zara', 'department': 'Sales'}

In [98]:
mydict1={'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
del mydict1["salary"]
print(mydict1)

{'employee': 'Zara', 'department': 'Sales'}

In [99]:
mydict1={'employee': 'Zara', 'salary': 5000, 'department': 'Sales'}
mydict1.clear()
print(mydict1)

{}

In [102]:
#In Tuples we use indexing which has to have a square bracket when using indexing
mytuples=("Audi", "Ford", "Tesla")
mytuples[2]
print(mytuples[2])

Tesla

In [104]:
mytuples=("Audi", "Ford", "Tesla")
#mytuples[2]="BMW" #Tuples cannot be changed in Python can remove or add otherwise we will have to change tuple to a list then change and then convert back to tuple
#print(mytuples[2])
mylistoftuple=list(mytuples)
mylistoftuple[1]="BMW"
mytuples=tuple(mylistoftuple)
print(mytuples)

('Audi', 'BMW', 'Tesla')

In [107]:
myset={"Apple", "Banana"}
print(len(myset))
#myset[0:1] because Sets in python are not ordered then we cannot use index
print(len(myset))

2
2