<a href="https://colab.research.google.com/github/Abayrakdar/Testing/blob/main/Copy_of_Getting_Started_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = "Hello World!"
print(x)

Hello World!

In [ ]:
x,y =24,12
if x == y:
  print("The first number is not equal to the second")
elif x>y:
  print("The first number is greater than the second one")
else:
  print("The first number is smaller than the second one")

The first number is greater than the second one

In [ ]:
a,b,c = -5,0,10
if c==0:
  print("number = 0")
elif c>0:
  print("number is positive")
else:
  print("number is negative")

number is positive

In [ ]:
for i in range(0,6):
  print("The iteration is {}".format(i))
print("The end...")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The end...

In [ ]:
a=0
while a<6:
  print(a)
  a+=1
print("The end..")

0
1
2
3
4
5
The end..

In [ ]:
targetvalue =4
iterate =0
while iterate <targetvalue:
  print("The iteration no. is {}, which is less than the target value {}".format(iterate, targetvalue))
  iterate=iterate+1
print("The end!")

The iteration no. is 0, which is less than the target value 4
The iteration no. is 1, which is less than the target value 4
The iteration no. is 2, which is less than the target value 4
The iteration no. is 3, which is less than the target value 4
The end!

In [ ]:
#Example on Nested Loop
for i in range(1,6): #This is the Outer Loop
 for j in range(1,11): #This is the Inner Loop
  print(i*j, end=" ") #This end=" " is added to have the output horizontally, if removed it will print vertically.
print("The end...")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 The end...

In [ ]:
#Another Example on Nested Loop
colours = ["blue", "red", "yellow"]
cars = ["BMW", "Mercedes", "Range"]
for colour in colours: #Outer Loop
 for car in cars: #Inner Loop
   print(colour, car)
print("The end....")

blue BMW
blue Mercedes
blue Range
red BMW
red Mercedes
red Range
yellow BMW
yellow Mercedes
yellow Range
The end....

In [ ]:
#Example on "break" command which breaks the operation at a certain point
targetv=5
iterate=0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetv))
  if iterate==3:
    print("Condition of iterate value reached 3")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value 5
Iteration number is 1, which is less than the target value 5
Iteration number is 2, which is less than the target value 5
Iteration number is 3, which is less than the target value 5
Condition of iterate value reached 3

In [ ]:
#Here we use the command "continue" to break or skip a certain point but to continue
targetv=5
iterate=0
while iterate<targetv:
  iterate=iterate+1
  if iterate==2:
    continue
  print("Iteration no is {}, which is less than the target value {}".format(iterate,targetv))
print("The Iteration number 2 has been skipped")

Iteration no is 1, which is less than the target value 5
Iteration no is 3, which is less than the target value 5
Iteration no is 4, which is less than the target value 5
Iteration no is 5, which is less than the target value 5
The Iteration number 2 has been skipped

In [ ]:
#Another example here for use of the command "continue" to break or skip a certain point but to continue
names =["Mercy", "Anis", "Chris", "Israel"]
for name in names:
  if name == "Chris":
    continue
  print(name)

Mercy
Anis
Israel

In [1]:
#Change a value in a List
mylist =["Michael", "Sean", "Adam"]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam']

In [2]:
mylist[0:2]

['John', 'Sean']

In [3]:
print(len(mylist[0]))

4

In [4]:
print(len(mylist))

3

In [5]:
print(type(mylist))

<class 'list'>

In [7]:
mylist =["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes the element is in there")

Yes the element is in there