<a href="https://colab.research.google.com/github/Abayrakdar/Testing/blob/main/Week5_Fusion_Day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def first_func():       
  print("hello world")
first_func()

hello world

In [2]:
# Regardless for "for i" if we specify start and end or without, it will start counting from 0
for i in range(2):
  first_func()

hello world
hello world

In [3]:
def first_func():#defining a ftn
  print("hello world")
first_func()#calling a ftn

hello world

In [4]:
first_func()
first_func()
first_func()

hello world
hello world
hello world

In [5]:
for i in range(0,10):
  first_func()

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [6]:
def first_func(name1):
  print("Hello", name1)
first_func("John") # Here if we call the function without the argument,
# it will give an error because THIS function was defined to need a single argument without it
# it will not work.

Hello John

In [7]:
def first_func(name1,name2):
  print("Hello",name1,name2)
first_func("John","Zara") # Same thing applies here, if we pass ONLY ne argument, it will give an error.

Hello John Zara

In [11]:
def add_func(val1,val2):
  print(val1+val2)
add_func(4,8) # Notice herer the indentation has to go back one space to work.

12

In [12]:
add_func() # Notice here we did not pass arguments to it, it gives error indicating missing positional arguments.

TypeError: ignored