<a href="https://colab.research.google.com/github/Abayrakdar/Testing/blob/main/Week5_Fusion_Day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def first_func():       
  print("hello world")
first_func()

hello world

In [2]:
# Regardless for "for i" if we specify start as (0) and end or without, it will start counting from 0
# unless we specified the start to be (1) it will start counting from 1,
# for i in range(1,2): it will start from 1 and stops at it the (1) immediately because it will end
# 1 step before the specified end.
for i in range(2):
  first_func()

hello world
hello world

In [3]:
def first_func():#defining a function
  print("hello world")
first_func()#calling a ftn

hello world

In [4]:
first_func()
first_func()
first_func()

hello world
hello world
hello world

In [5]:
for i in range(0,10):
  first_func()

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [6]:
def first_func(name1):
  print("Hello", name1)
first_func("John") # Here if we call the function without the argument,
# it will give an error because THIS function was defined to need a single argument without it
# it will not work.

Hello John

In [7]:
def first_func(name1,name2):
  print("Hello",name1,name2)
first_func("John","Zara") # Same thing applies here, if we pass ONLY ne argument, it will give an error.

Hello John Zara

In [11]:
def add_func(val1,val2):
  print(val1+val2)
add_func(4,8) # Notice herer the indentation has to go back one space to work.

12

In [12]:
add_func() # Notice here we did not pass arguments to it, it gives error indicating missing positional arguments.

TypeError: ignored

In [13]:
def add_func(val1=0,val2=0):
  print(val1+val2)
add_func()

0

In [14]:
add_func(10,5)

15

In [15]:
# We can use "return" keyword statement instead of print.
def add_func(val1,val2):
  return val1+val2  # but the return is only to return the function value back not specifically the PRINT.
add_func(6,7) # or
myresult=add_func(6,7)
print(myresult)

13

In [18]:
def my_concat(val1,val2):
  return val1+val2 # return keyword is a function like def and print in Python.
my_result=my_concat("Anis","Bayrkdar")
print(my_result)
my_concat(6,8) # it won't work in here because the my_result is still defined as ("Anis","Bayrkdar")
print(my_result)

AnisBayrkdar
AnisBayrkdar

In [19]:
myresult=my_concat(6,8) # here it works because I am calling it to print the new myresult of 6 and 8.
print(myresult)

14

In [25]:
def add_func(val1,val2,val3,val4):
  return sum((val1,val2,val3,val4))
myresult=add_func(1,2,3,4)
print(myresult)

10

In [26]:
def add_func(*val): # The asterisk allows for flexibility and put them in a tuple which can be accessed.
  return sum(val)
myresult=add_func(2,3,4,5,6,7,8)
print(myresult)

35

In [27]:
def fruit_fav(fruit1,fruit2,fruit3):
  print("The summer season fruit is "+fruit3)
fruit_fav(fruit3="Strawburry",fruit1="Apple",fruit2="Grapes")
# Here NOTICE the key position does not matter because it has a key and a value, the key is fruit1 etc...

The summer season fruit is Strawburry

In [30]:
# When we define ONE asterisk is positional argument while when we put TWO asterisks
# it becomes a KEY that must have a value where it doesn't matter where it comes because it will need a value.
# So TWO ** becomes like a dictionary.
def fruit_fav(**fruits):
  print("My favourite season fruit is "+fruits["summer_fruit"])
fruit_fav(winter_fruit="Apple", summer_fruit="Banana", spring_fruit="Grapes")

My favourite season fruit is Banana

In [31]:
# Lambda function
# defining => argument:expression
add=lambda a,b:a+b
print(add(6,8))

14

In [33]:
# So lambda is an ANONYMOUS function that can be defined for any relationship.
is_even=lambda val:val%2==0
print(is_even(4))

True

In [35]:
# zip is a function inPython which combines values from 1st, 2nd and 3rd columns together for example.
# it is similar to the zip in our clothes it brings things together.
tup1=("A","B","C")
tup2=("a","b","c")
zipped_values=zip(tup1,tup2)
for i in zipped_values:
  print(i)

('A', 'a')
('B', 'b')
('C', 'c')

In [36]:
# Now to print the zip-ped values in a list:
tup1=("A","B","C")
tup2=("a","b","c")
zipped_values=list(zip(tup1,tup2))
print(zipped_values)

[('A', 'a'), ('B', 'b'), ('C', 'c')]